.error {
	color:red;
}

.debug {
	border: 1px solid black;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar ::hover {
    width: 25px;
}

#landlordImageCol::-webkit-scrollbar {
    width: 30px;
		height: 10px;
}

#imageCol::-webkit-scrollbar {
    width: 0px;
}

#blueCanvas::-webkit-scrollbar {
    width: 0px;
}

#reviewFormBox::-webkit-scrollbar {
    width: 0px;
}

#reviewLandlord::-webkit-scrollbar {
    width: 0px;
}

.thumbnailBar::-webkit-scrollbar {
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(40, 96, 144, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(40, 96, 144,0.8);
    -webkit-box-shadow: inset 0 0 6px rgb(40, 96, 144);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(40, 96, 144,0.4);
}
